<h1>Workout List</h1>
<frorm>
	<fieldset>
		<legend>Name</legend>
		<input type="text" name="name" id="name">
		<input type="submit" id="insertSubmit">
	</fieldset>
</form>
<table id="workoutList">
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Unit</th>
	</tr>
</table>
 <script src="home.js"></script>