<h1>Workout List</h1>
<p class="message" id="addMessage"></p>
<form>
	<fieldset>
		<legend>Add Item</legend>
		<label>Name: </label>
		<input type="text" name="name" id="name">
		<label>Reps: </label>
		<input type="text" name="reps" id="reps">
		<label>Weight: </label>
		<input type="text" name="weight" id="weight">
		<label>Date: </label>
		<input type="radio" name="unit" id="lbs" value="lbs">
		<label>Lbs: </label>
		<input type="radio" name="unit" id="kg" value="kg">
		<label>kg: </label>
		<label>Date: </label>
		<input type="date" name="date" id="date">
		<input type="submit" id="insertSubmit">
	</fieldset>
</form>
<table id="workoutList">
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Unit</th>
	</tr>
</table>
 <script src="home.js"></script>